<div class="welcome-div">

<h1 class="welcome-title"> Welcome! </h1>

<img class="welcome-img" src="https://s32.postimg.org/r6eopn00l/controller.png" alt="">

<!-- <p class="welcome-paragraph"> Looking for a simple interface to keep track of your video games? If so, then look no further! My Games List is a super user-friendly app for gamers to record all the games that they want to play, planning to play, or have already finished playing, as well as the progress for each game. Sign up now and check it out!</p> -->

<p class="welcome-paragraph"> My Games List is a super user-friendly app for gamers to record all the games that they want to play, are currently playing, or have already finished playing, as well as the progress for each game. If you are using this app or decide to use this app to track your video games, we hope that you like the neat and simple interface :) </p>


</div>
