<div class="welcome-div">

<!-- <h1 class="welcome-title"> Welcome! </h1> -->
<h1 class="welcome-title"> MGL </h1>
<!-- <p class="welcome-p"> Click below to browse games</p> -->
<!-- <img class="welcome-img" src="https://s32.postimg.org/r6eopn00l/controller.png" alt=""> -->
<!-- Trigger Modal -->
<!-- <button class="welcome-img" type="button" data-toggle="modal" data-target="#myModal">
  <img src="images/controller.png" alt="">
</button> -->


<!-- Modal -->
<!-- <div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

      <div class="modal-body api_form_modal">
        <p class="modal-p"> Looking for information on a game? Here is the right place. </p>
        <form class="api_form" action = "/search" method = "POST">
          <input data-autocomplete="/games/autocomplete_gamesapi_name" data-update-elements="{}" type="text" name="gameName" class="ui-autocomplete-input gamename-input" autocomplete="off", placeholder="Search for a game">
          <button class="btn btn-primary" type="submit" name="button" >Search</button>
        </form>
      </div>

      </div>
    </div>
  </div>
</div> -->

<form class="api_form" action = "/search" method = "POST">
  <input data-autocomplete="/games/autocomplete_gamesapi_name" data-update-elements="{}" type="text" name="gameName" class="ui-autocomplete-input gamename-input" autocomplete="off", placeholder="Search for a game">
  <button class="btn btn-primary" type="submit" name="button" ><i class="fa fa-search" aria-hidden="true"></i>
</button>
</form>

<% if !user_signed_in? %>
<p class="welcome-paragraph"> Need a super duper simple website to track your games? Then, look no further! Click <%=link_to "here", new_user_registration_path%> to sign up or <%=link_to "here", new_user_session_path%> to login.</p>
<%else%>
<!-- <p class="welcome-paragraph"> We hope you are enjoying My Games List. Our team will ensure that you continue to experience the most neat and simple interface for tracking your games.</p> -->
<%end%>

<!-- <form class="api_form" action = "/search" method = "POST">
  <input data-autocomplete="/games/autocomplete_gamesapi_name" data-update-elements="{}" type="text" name="gameName" class="ui-autocomplete-input" autocomplete="off">
  <button class="search_button" type="submit" name="button" >Search</button>
</form> -->
