// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.navbar-brand {
  font-family: 'Press Start 2P', cursive;
}

.navbar {
  background: rgb(51, 27, 103);
  width: 100%;
}

.navbar-brand {
  color: #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
  font-family: 'Press Start 2P', cursive;
}

/*glow*/
@keyframes neon1 {
  from {
    text-shadow: 0 0 10px rgb(24, 104, 177), 0 0 20px rgb(24, 104, 177), 0 0 30px rgb(24, 104, 177), 0 0 40px rgb(50, 143, 201)
, 0 0 70px rgb(50, 143, 201)
, 0 0 80px rgb(50, 143, 201)
, 0 0 100px rgb(50, 143, 201)
, 0 0 150px rgb(50, 143, 201)
;
  }
  to {
    text-shadow: 0 0 5px rgb(24, 104, 177), 0 0 10px rgb(24, 104, 177), 0 0 15px rgb(24, 104, 177), 0 0 20px rgb(50, 143, 201)
, 0 0 35px rgb(50, 143, 201)
, 0 0 40px rgb(50, 143, 201)
, 0 0 50px rgb(50, 143, 201)
, 0 0 75px rgb(50, 143, 201)
;
  }
}

.navbar-brand:hover {
  color: rgb(23, 181, 134);
}

.nav-name > a {
  color: white;
}


//--INDEX--//
#h1-playing {
  text-align: center;
  margin: 50px;
}

#index-container   {
  width: 70%;
  display: block;
  margin: 0 auto;
}

.add-game-container {
  display: block;
  text-align: center;
  margin: 40px;
}
.add-game {
  text-align: center;
}

//--PLAN--//
#h1-plan {
  text-align: center;
  margin: 50px;
}

#plan-container   {
  width: 70%;
  display: block;
  margin: 0 auto;
}

.add-game-container {
  display: block;
  text-align: center;
  margin: 40px;
}
.add-game {
  text-align: center;
}

//--EDIT AND ADD PAGES--//
#h1-game {
  text-align: center;
  margin: 50px;
}
#game-container   {
  // width: 70%;
  display: block;
  margin: 0 auto;
  text-align: center;
}

#game_title{
  width: 300px;
  text-align: center;
  margin-top: 10px;
}
#game_genre, #game_platform, #game_progress, #game_release_date{
  width: 150px;
  text-align: center;
  margin-top: 10px;
}
#game_release_date {
  border-radius: 7px;
}

//--ABOUT/HOME PAGE--//
.welcome-title {
  text-align: center;
  font-family: 'Press Start 2P', sans-serif;
  padding: 40px;
  color: rgb(56, 76, 145);
  font-size: 80px;
}
.welcome-p {
  text-align: center;
  font-family: 'raleway', sans-serif;
  margin: 0;
  color: rgb(57, 97, 191);
  // font-weight: bold;
}
.welcome-paragraph {
  text-align: center;
  margin: 0 auto;
  width: 48%;
  font-size: 20px;
}
.welcome-div {
  margin-top: 120px;
}
.welcome-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
  background: none;
  border: none;
}
.ui-autocomplete {
  z-index: 9999 !important;
}
.welcome-img:focus {
  text-decoration: none;
  outline: none;
  border: none;
  color: white;
}
.welcome-img:visited {
  text-decoration: none;
  outline: none;
  border: none;
}
.welcome-img:visited:focus {
  text-decoration: none;
  outline: none;
  border: none;
}
.modal {
  margin-top: 10%;
}
.api_form_modal {
  text-align: center;
}
.gamename-input {
  width: 50%;
  padding: 5px;
  margin: 10px;
}
.modal-p {
  // font-family: 'raleway', sans-serif;
  font-size: 18px;
}
//--SEARCH RESULTS--
.api-image {
  // width: 300px;
  height: 300px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
}
.api-heading {
  text-align: center;
  margin: 25px;
  // margin-top: 50px;
  font-family: 'Raleway', sans-serif;
  // font-weight: bold;
  // color: rgb(61, 61, 61);
  font-size: 40px;

}
.api-paragraph {
  text-align: center;
  margin: 0 auto;
  width: 50%;
  color: rgb(117, 117, 117);
}

.release_date_div {
  display: block;
  margin: 0 auto;
  text-align: center;
}

//below is the css for the search icon in the nav bar
.welcome-img2 {
  display: block;
  background: none;
  border: none;
}
.welcome-img2:focus {
  text-decoration: none;
  outline: none;
  border: none;
  color: white;
}
.welcome-img2:visited {
  text-decoration: none;
  outline: none;
  border: none;
}
.welcome-img2:visited:focus {
  text-decoration: none;
  outline: none;
  border: none;
}

.jumbotron {
  display: block;
  margin: 0 auto;
  width: 75%;
  border-radius: 10px;
  text-align: center;
}

.plan-container, .index-container {
  margin-bottom: 30px;
}
