.title {
  padding: 13px 0;
  text-align: center;
  color: #1f63ab !important;
}

.navbar {
  background: #1e316d !important;
}

.gameslist.container .btn.btn-default{
  margin-right: 10px !important;
  width: 100px;
  margin-bottom: 10px !important;
}

.btn:focus, .btn.focus {
  outline-style: none !important;
}

a.game_status_title, a.game_status_title:hover {
    color: #337ab7;
    margin-left: 20px;
    padding-right: 20px;
    border-right: 1px solid #337ab7 !important;
    cursor: pointer;
}

a.game_status_title:active, a.game_status_title:focus {
  color: #58cc83 !important;
}

a.game_status_title_last,  a.game_status_title_last:hover {
  color: #337ab7;
  text-decoration: none;
  margin-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  border-right: none !important;
}

.game_status_title_container {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

a:hover, a:focus {
  color: #23527c;
  text-decoration: none !important;
  outline-style: none !important;
}

// Tables
.table th {
  background: #fff;
  border: 0 !important;
  color: #b49ee6; //purple
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  font-family: 'raleway';
  font-size: 13px;
}

.table {
  border-bottom: 1px solid #ddd !important;
  border-radius: 7px !important;
}

table tr td:nth-child(6) {
  display: block !important;
  text-align: right;
}

.fa-trash-o {
  cursor: pointer;
  color: #328fc9 !important;
}

.fa-pencil-square-o {
  cursor: pointer;
  color: #328fc9 !important;
}

.fa-check, .fa-times {
  vertical-align: bottom;
  color: #58cc83 !important;
  cursor: pointer;
}

.table {
  background: #fff;
}

.edit-field {
  height: 27px !important;
  font-size: 12px !important;
  border: 1px solid #b1ffce !important;
  -webkit-box-shadow: none !important;
  box-shadow:  none !important;
  -webkit-transition: none !important;
  -o-transition: none !important;
    /* transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; */
}

.add-game-field {
  width: 325px !important;
  margin: 0 auto;
  margin-bottom: 15px;
}

.add-game-container {
  margin: 30px auto;
}

.add-game-button, .add-game-button:hover {
  padding: 9px !important;
  color: #fff !important;
  background-color: #337ab7 !important;
  font-size: inherit !important;
}

.gamename-input:focus {
  outline-style: none !important;
}

// Search Form / Home Section / Search results
.search-div {
  display: flex;
  width: 100%;
  height: 500px;
  justify-content: center;
  align-items: center;
}

.home-divider {
  text-align: center;
  padding: 9px;
  background: #020717;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 310px;
}

.home-divider h2{
  font-size: 24px;
  font-family: monospace;
  margin: 10px;
  font-weight: normal;
  color: #38918d !important;
}

//search results
.search-div {
  background: url("http://s33.postimg.org/b129uaelr/SRBackground.png") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  // background-position: center !important;
}

.search-container2 {
  // background: url("http://s33.postimg.org/b129uaelr/SRBackground.png") !important;
  // background-repeat: no-repeat !important;
  // background-size: cover !important;
}

.search-container2-overlay {
  // background: rgba(255, 255, 255, 0.75)
}

.search-results-container {
  padding: 0px 100px;
  // background: rgba(211, 211, 211, 0.64)
}

.game_record_container {
  padding-bottom: 25px;
  padding-top: 25px;
  border-bottom: 1px solid #a2a2a2;
}

.search-results-container div:last-child {
  border-bottom: 0 !important;
}

.row-eq-height {
  display: flex;
  align-items: center;
}

.game-record-container div img{
  height: 150px;
  width: 200px;
  object-fit: cover;
}

.image-col {
  text-align: right;
}

.para-col {
}

.divider-top {
  text-align: center;
  font-size: 16px;
  font-family: monospace;
  padding: 11px;
  border-top: 1px solid #123d63;
  color: #123d63;
  background: white;
}

.divider-second-top {
  text-align: center;
  font-size: 16px;
  font-family: monospace;
  color: #fff;
  // background: #020717;
  background: #5e89b9
}

.divider-top p, .divider-second-top p {
  margin-bottom: 0;
}

// light Slider
.footer-row p {
  font-size: 11px;
  font-family: Arial;
  color: grey !important;
  margin-top: 5px !important;
  margin-bottom: 2px !important;
}

.footer-row a{
  font-size: 13px;
  font-weight: bold;
  font-family: Arial;
  color: rgb(223, 161, 87) !important;
  margin-top: 5px !important;
  margin-bottom: 2px !important;
}

.home-divider img{
  height: 153px;
  width: 230px;
  object-fit: cover;
  border: 1px solid #555;
}

.footer-row {
  // width: 90%;
  margin: 15px auto !important;
  height: 212px !important;
}

.lSPager.lSpg {
  display: none;
}

.lSAction>a {
  top: 40% !important;
  width: 31px !important;
  display: none !important;
}

.lSSlideOuter {
  width: 85%;
  margin: 0 auto;
}

#spinner {
  display: none;
}



// --------------  RESPONSIVENESS ------------------
@media (min-width: 1199px) {
  // Gamelist container
  .gameslist.container {
    width: 70%;
  }
}

@media (min-width: 1375px) {
  .home-divider img{
    height: 153px;
    width: 220px;
  }
}

@media (max-width: 1374px) {
  .home-divider img{
    height: 153px;
    width: 200px;
  }
}

@media (max-width: 1222px) {
  .home-divider img{
    height: 153px;
    width: 180px;
  }
}

@media (max-width: 1153px) {
  .home-divider img{
    height: 139px;
    width: 155px;
  }
}

@media (max-width: 967px) {
  .home-divider img{
    height: 131px;
    width: 121px;
  }
}

@media (max-width: 767px) {
  .home-divider img{
    height: 80px;
    width: 100px;
    object-fit: cover;
  }
}

// /* Smartphones (portrait and landscape) ----------- */
// @media only screen
// and (min-device-width : 320px)
// and (max-device-width : 480px) {
// /* Styles */
// }
//
// /* Smartphones (landscape) ----------- */
// @media only screen
// and (min-width : 321px) {
// /* Styles */
// }
//
// /* Smartphones (portrait) ----------- */
// @media only screen
// and (max-width : 320px) {
// /* Styles */
// }
//
// /* Tablets, iPads (portrait and landscape) ----------- */
// @media only screen
// and (min-device-width : 768px)
// and (max-device-width : 1024px) {
// /* Styles */
// }
//
// /* Tablets, iPads (landscape) ----------- */
// @media only screen
// and (min-device-width : 768px)
// and (max-device-width : 1024px)
// and (orientation : landscape) {
// /* Styles */
// }
//
// /* Tablets, iPads (portrait) ----------- */
// @media only screen
// and (min-device-width : 768px)
// and (max-device-width : 1024px)
// and (orientation : portrait) {
// /* Styles */
// }
//
// /* Desktops and laptops ----------- */
// @media only screen
// and (min-width : 1224px) {
// /* Styles */
// }
//
// /* Large screens ----------- */
// @media only screen
// and (min-width : 1824px) {
// /* Styles */
// }
